* {
    padding:0;
    margin:0;
}
body {
    background-image: url("https://powerful-sierra-77608.herokuapp.com/images/bk-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    padding:90px;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:100px;
}
h2 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#07070987;
}